.banner {
    position: relative;
    display: inline-block;
    margin-top: 50px;;
}
  
.banner img {
    display: block;
    width: 1500px;
    height: 100px;
    margin-left: 7px;
}
  
.overlay-text {
    position: absolute;
    top: 50px; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    color: khaki; 
    padding: 10px 20px; 
    font-size: 65px; 
    text-align: center;
    font-weight: bold;
}

.brush {
    margin-top: 50px;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: blue;
}

  
